/* Shared styles (Form.css) */
.login-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 50px;
    width: 100%;
    max-width: 600px;
    max-width: 700px; /* Increase the width */
    margin: 0 auto;
    margin-top: 20px;
    height: 100%; /* Increase the height */
  }
  
  h2 {
    font-size: 28px;
    color: #6C9894;
    margin-bottom: 30px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for small screens */
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
      padding: 30px;
      margin-top: 10px;
    }
  }
  