.profile{
    position: relative;
}

.profile-hover{
    display: none;
    width: 12em;
    position: absolute;
    list-style: none;
    background: white;
    top: 3em;
    right: 0;
    padding: 1em;
    box-shadow: 0 0 1em .1em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    /* justify-content: center; */
}


.name-div{
    padding: 1em;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: -0.1em;
}

.name-div>span{
    font-size: 1.5em;
}

.profile-hover > li > a{
    padding: 1em;
    width: 100%;
    text-decoration: none;
    color: black;
}