*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
@font-face{
    font-family:BalooBhai;
    src:url(images/BalooBhai2-Bold.ttf);
}
@font-face{
    font-family:MonLight;
    src:url(images/Montserrat-VariableFont_wght.ttf);
}
.container1{
    margin:0 auto;
    min-height:1300px;
    height:auto;
    overflow-x: hidden;
}
.header{
    background-image: url(images/background.png);
    position: relative;
    /* min-height: 977px; */
    width: 100%;
    height:auto;
}
.carousal{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-color: rgb(167, 215, 197);
    margin-left: 30px;
    width: 100px;
    height: 120px;
}
.logo img{
    height:70px;
    margin-left: 12px;
    margin-top: 25px;
    position:absolute;
}
.navbar{
    padding: 0;
}
.navbar-nav .nav-link{
    padding: 15px 60px !important;
    color:rgb(68, 68, 68);
    font-family: BalooBhai;
    font-size: 20px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.first_img{
    height:560px;
    width:100%;
}
.first_heading{
    text-align: center;
    align-items: center;
}
.heading{
    font-size:85px ;
    color: rgb(108, 152, 148);
    font-weight: 1000; 
    font-family: BalooBhai;
    text-align: center;
    margin-top: 150px;
 } 
 @media (max-width: 540px) {
    .heading{
        margin-top: 10px;
        font-size: 70px;
    }
}
 
.text{
    font-size: 18px;
    font-family: MonLight;
    color: rgb(108, 152, 148);
    line-height: 1.2; 
    text-align: center;
} 
.button button{
    border-radius: 10px;
    background-color: rgb(108, 152, 148);
    width: 173px;
    height: 51px;
    border: none;
    color: rgb(254, 254, 252);
    font-size: 19px;
    letter-spacing: 4px;
    font-weight: bold;
}
.choose_class{
    background-image: url(images/background2.png);
    min-height: 800px;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
}
.heading2{
    color: rgb(244, 249, 244);
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: BalooBhai;
    text-align: center;
    padding-top: 100px;
}
.text2{
    font-size: 20px;
    text-align: center;
    color: rgb(244, 249, 244);
    font-family: MonLight;
}
.title-txt{
    text-align: center;
}
.choose1 .choose2{
    text-align: center;
}
.choose1 img{
    width:400px;
    height:400px;
}
.choose2 img{
    height: 400px;
}
.new{
    color:rgb(244,249,244);
    font-size: 30px;
    font-weight:bold;
    font-family: BalooBhai;
    margin-bottom: 15px;
}
.des1{
    color:rgb(244,249,244);
    font-size: 20px;
    margin-left: 10px;
    font-family: MonLight;
    text-align: center;
    margin-bottom: 100px;
}
.stat{
    background-image: url(images/background3.png);
    min-height: 600px;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
}
.h{
    color: rgb(108, 152, 148); 
    text-align: center;
    font-size: 45px; 
    font-weight: bold;
    font-family: BalooBhai;
    margin-top: 50px;
}
.stat_text{
    text-align: center;
    color: rgb(108, 152, 148);
    font-size:18px;
    font-family: MonLight;
}
.circleOne{               
    box-sizing: border-box;
    border-width: 3px;
    border-color: rgb(108, 152, 148);
    border-style: solid;
    border-radius: 100% !important ; 
    width: 190px;
    height: 190px;
    padding-top:40px;
    padding-left: 10px;
    padding-bottom: 50px;
    align-items: center;
    margin-top: 40px;
    margin-left: 80px !important;
}

.num{
    color:rgb(108, 152, 148);
    font-size: 40px;
    font-family: BalooBhai;
    padding-top: 20px;
}
.lorem{
    color:rgb(108, 152, 148);
    font-family: MonLight;
    font-size: 13px;
}
.instructor {
    background-image: url(images/background4.png);
    min-height: 650px;
    height: auto;
    position: relative;
}
.h1_text{
    color: rgb(244, 249, 244);
    line-height: 1.2;
    text-align: left;
    font-size: 50px;
    margin-top: 160px;
    /* margin-left: 80px; */
    font-weight: bold;
    font-family: BalooBhai;
}
.instructor_text{
    color: rgb(244, 249, 244); 
    font-size: 20px;
    /* margin-left: 80px; */
    width:500px;
    font-family: MonLight;
}
.button2{
    top:400px;
    /* margin-left: 80px; */
    width:500px;
}
.button2 button{
    color: rgb(108, 152, 148);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(254, 254, 252);
    font-size: 15px;
    font-weight: bold;
    font-family: BalooBhai;
}
.best_img{
    height: 650px;
    width:100%;
}
@media (max-width: 450px) {
    .best_img {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .circleOne{
        margin-left: 120px!important;
    }
}
@media (max-width: 393px) {
    .circleOne{
        margin-left:90px !important;
    }
}
@media (min-width: 540px) {
    .circleOne{
        margin-left: 160px;
    }
}
.exp{
    background-image: url(images/background5.png);
    min-height: 675px;
    height: auto;
    position: relative;
}
.new_img{
    height:550px ;
    margin-top: 70px;
}
.h2_text{
    color: rgb(108, 152, 148);
    line-height: 1.2;
    text-align: left;
    font-size: 50px;
    margin-top: 160px;
    font-weight: bold;
    font-family: BalooBhai;
}
.exp_text{
    color: rgb(108,152,148); 
    font-size: 20px;
    width:500px;
    font-family: MonLight;
}
.button3{
    top:400px;
    width:500px;
    padding-bottom: 50px;
}
.button3 button{
    color: rgb(254, 254, 252);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(108, 152, 148);
    font-size: 15px;
    font-weight: bold;
    font-family: BalooBhai;
}
.price{
    background-image: url(images/background6.png);
    min-height: 780px;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
}
.newbie{
    background-color:rgb(244, 249, 244); 
    height:350px;
    width:250px;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 50px;
    
}
.expert{
    background-color:rgb(244, 249, 244); 
    height:350px;
    width:250px;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.new_text{
    color: rgb(108, 152, 148);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    font-family: BalooBhai;
}
.vector_img img{
    width:80px;
    height:90px;
    margin-top: 15px;
}
.newbie_text{
    text-align: center;
    color: rgb(108, 152, 148);
    font-size:15px ;
    margin-top: 30px;
    font-family: MonLight;
}
.new_button button{
    color:rgb(244, 249, 244);
    background-color:rgb(108, 152, 148);
    width:200px;
    border: none;
    height:40px;
    border-radius: 3px;
    margin-top: 18px;
    font-weight: bold;
    font-family: BalooBhai;
}
@media (max-width: 450px) {
    .newbie {
        margin-left: 100px;
    }
    .expert {
        margin-left: 100px;
    }
}
@media (max-width: 393px) {
    .newbie {
        margin-left: 50px;
    }
    .expert {
        margin-left: 50px;
    }
}
@media (min-width: 540px) {
    .newbie {
        margin-left: 130px;
    }
    .expert {
        margin-left: 130px;
    }
}

.trainer{
    background-image: url(images/background7.png);
    min-height: 900px;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
}
.img_trainer {
    height: 450px;
    width: 450px;
    /* margin-left: 00px; */
}
@media (max-width: 450px) {
    .img_trainer{
        margin-left: 5px;
    }
}
@media (width: 540px) {
    .img_trainer{
        margin-left: 5px;
    }
}
.trainer_text{
    text-align: center;
    color:rgb(108, 152, 148);
    font-size: 45px;
    margin-top: 20px;
    font-family: MonLight;
}
@media(max-width:540px){
    .trainer_text{
        font-size: 35px;
    }
}
.heading3{
    text-align: center;
    color:rgb(108, 152, 148);
    font-size: 40px;
    font-weight: bolder;
    margin-top: 25px;
    font-family: BalooBhai;
    margin-bottom: 20px;
}
.update{
    background-image: url(images/background8.png);
    min-height: 500px;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
}
.update_text{
    text-align: center;
    color:rgb(244, 249, 244);
    font-size: 47px;
    padding-top: 125px;
    font-family: BalooBhai;
}
.update_lorem{
    text-align: center;
    color:rgb(244, 249, 244);
    font-size: 20px;
    margin-top: 25px;
    font-family: MonLight;
}
.button4 {
    color: rgba(108, 152, 148, 0.502);
    background-color: rgb(244, 249, 244);
    width:500px !important;
    height:50px;
    padding:14px;
    text-align: left;
    border-radius: 50px;
    font-family: MonLight;
    margin-bottom: 100px;
}
.button4 a{
    color: rgb(108, 152, 148);
    padding:14px;
    padding-left: 250px;
    text-decoration: none;
    font-family: BalooBhai;
}
@media (max-width: 450px) {
    .button4 a{
        padding-left: 220px;
    }
}
@media (max-width: 393px) {
    .button4 a{
        padding-left: 150px;
    }
}
@media (min-width: 540px) {
    .button4 a{
        padding-left: 270px;
    }
}
.footer{
    background-image: url(images/background9.png);
    min-height: 400px;
    height: auto;
    position: relative;
}
.sec{
    color: rgb(108, 152, 148);
    list-style: none;
    font-size: 18px;
    font-family: MonLight;
    padding-top: 18px;
}
.fir{
    color: rgb(108, 152, 148);
    margin-top: 90px;
    list-style: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: BalooBhai;
}
.list2{
    margin-top:90px;
    list-style: none;
    color: rgb(108, 152, 148);
    font-size: 18px;
}
.list_head{
    font-size: 25px; 
    font-weight: bolder;
    font-family: BalooBhai;
}
.list_second{
    margin-top: 18px;
    font-family: MonLight;
}
.list_data{
    margin-top: 8px;
    font-family: MonLight;
}
.facebook{
    margin-top: 10px;
    font-family: MonLight;
}
.twitter{
    padding-top: 23px;
    font-family: MonLight;
}
.insta{
    padding-top: 15px;
    font-family: MonLight;
}
.footer_img{
    margin-top: 120px;
    padding-left: 40px; 
    height:150px;
}
